@page "/checkout/fail"
@model FindingHealthcareSystem.Pages.Checkout.FailModel
@{
}
<link rel="stylesheet" href="~/css/Checkout.css"></link>
<div class="container">
    <div class="failure-container">
        <span class="badge-payment">Thanh toán thất bại</span>

        <div class="failure-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>

        <h1 class="failure-title">Đặt lịch không thành công</h1>
        <p class="failure-message">
            Rất tiếc, giao dịch của bạn không thể hoàn tất do gặp sự cố. Vui lòng kiểm tra thông tin và thử lại.
        </p>
    </div>
</div>